body {
  padding-top: 80px;
  padding-left: 450px;
  font-family: "Arial", sans-serif;
  margin: 20px;
  background-color: #f8f8f8;
}

h1 {
  color: #615f5f;
  padding-left: 10px;
}

form {
  margin-top: 20px;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}
input:hover {
  background-color: #f1f0f0;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 100px;
}

button:hover {
  background-color: #28502a;
}
